Repository lisa-analyzer/lisa, pull requests merged in 2022-11, with the labels that each got.

#226 Project actions
  .github/release-drafter-config.yml
  .github/workflows/created-issues.yml
  .github/workflows/created-prs.yml
  .github/workflows/ready-prs.yml
  .github/workflows/resolved-issues.yml
Labels: 🛠 type:refactoring, 🏨 scope:infrastructure

#239 Beta7 roundup
  .github/workflows/gradle-master.yml
  README.md
  lisa/gradle.properties
Labels: 🏨 scope:infrastructure

#213 FSA abstract domain
  lisa/.gitignore
  lisa/gradlew
  lisa/lisa-core/imp-testcases/fsa/program.imp
  lisa/lisa-core/imp-testcases/fsa/untyped_fsa.branching(fsa__this,_untyped_x).json
  lisa/lisa-core/imp-testcases/fsa/untyped_fsa.constants(fsa__this).json
  lisa/lisa-core/imp-testcases/fsa/untyped_fsa.loops(fsa__this,_untyped_x).json
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/fsa/Automaton.java
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/fsa/CyclicAutomatonException.java
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/fsa/FSA.java
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/fsa/State.java
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/fsa/Transition.java
  lisa/lisa-core/src/test/java/it/unive/lisa/EqualityContractVerificationTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/AcceptsEmptyLanguageTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/CommonAlphabetTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/ComplementTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/ConcatTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/ContainsTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/DeterminizeTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/EpsilonClosureTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/GetLanguageAtMostTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/GetLanguageTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/HasCycleTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/IntersectionTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/IsContainedTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/IsEqualTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/MinimizeTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/ReverseTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/ToRegexTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/UnionTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/ValidateStringTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/fsa/WideningTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/cron/string/FSATest.java
Labels: 🎆 type:feature, 🔍 scope:analysis

#240 Updating vulnerable dependencies
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/fsa/CyclicAutomatonException.java
  lisa/lisa-imp/build.gradle
  lisa/lisa-sdk/build.gradle
Labels: 🛠 type:refactoring, ‼ priority:p1, 🏨 scope:infrastructure

#242 Implementation of prefix, suffix, and char inclusion string abstract domains
  lisa/lisa-core/imp-testcases/char-inclusion/program.imp
  lisa/lisa-core/imp-testcases/char-inclusion/report.json
  lisa/lisa-core/imp-testcases/char-inclusion/untyped_ci.m1(ci__this).json
  lisa/lisa-core/imp-testcases/char-inclusion/untyped_ci.m2(ci__this,_untyped_x).json
  lisa/lisa-core/imp-testcases/char-inclusion/untyped_ci.m3(ci__this,_untyped_x).json
  lisa/lisa-core/imp-testcases/prefix/program.imp
  lisa/lisa-core/imp-testcases/prefix/report.json
  lisa/lisa-core/imp-testcases/prefix/untyped_prefix.m1(prefix__this).json
  lisa/lisa-core/imp-testcases/prefix/untyped_prefix.m2(prefix__this,_untyped_x).json
  lisa/lisa-core/imp-testcases/prefix/untyped_prefix.m3(prefix__this,_untyped_x).json
  lisa/lisa-core/imp-testcases/suffix/program.imp
  lisa/lisa-core/imp-testcases/suffix/report.json
  lisa/lisa-core/imp-testcases/suffix/untyped_suffix.m1(suffix__this).json
  lisa/lisa-core/imp-testcases/suffix/untyped_suffix.m2(suffix__this,_untyped_x).json
  lisa/lisa-core/imp-testcases/suffix/untyped_suffix.m3(suffix__this,_untyped_x).json
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/CharInclusion.java
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/Prefix.java
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/Suffix.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/CharInclusionTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/PrefixTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/SuffixTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/cron/string/CharInclusionAnalysisTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/cron/string/PrefixAnalysisTest.java
  lisa/lisa-core/src/test/java/it/unive/lisa/cron/string/SuffixAnalysisTest.java
Labels: 🎆 type:feature, 🔍 scope:analysis

#243 Optimize CharInclusion formatRepresentation method
  lisa/lisa-core/imp-testcases/char-inclusion/untyped_ci.m1(ci__this).json
  lisa/lisa-core/imp-testcases/char-inclusion/untyped_ci.m2(ci__this,_untyped_x).json
  lisa/lisa-core/imp-testcases/char-inclusion/untyped_ci.m3(ci__this,_untyped_x).json
  lisa/lisa-core/src/main/java/it/unive/lisa/analysis/string/CharInclusion.java
  lisa/lisa-core/src/test/java/it/unive/lisa/analysis/string/CharInclusionTest.java
Labels: 🐛 type:bug, 🔍 scope:analysis

#251 Replace Collection With Set in Char Inclusion Domain
  lisa/lisa-analyses/imp-testcases/char-inclusion/report.json
  lisa/lisa-analyses/imp-testcases/char-inclusion/untyped_ci.m1(ci__this).json
  lisa/lisa-analyses/imp-testcases/char-inclusion/untyped_ci.m2(ci__this,_untyped_x).json
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/string/CharInclusion.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/analysis/string/CharInclusionTest.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/cron/string/CharInclusionAnalysisTest.java
Labels: 🛠 type:refactoring, 🔍 scope:analysis
