Repository lisa-analyzer/lisa, pull requests merged in 2024-07, with the labels that each got.

#307 Stability abstract domain implementation
  lisa/lisa-analyses/imp-testcases/numeric/numeric.imp
  lisa/lisa-analyses/imp-testcases/stability/rectangleScale.imp
  lisa/lisa-analyses/imp-testcases/stability/saneScale.imp
  lisa/lisa-analyses/imp-testcases/stability/scale.imp
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/stability/Stability.java
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/stability/Trend.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/analysis/stability/CoContraVarianceTests.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/analysis/stability/StabilityTest.java
Labels: 🎆 type:feature, 🎊 resolution:resolved, 🔍 scope:analysis

#306 Substring relational domains
  .gitignore
  lisa/lisa-analyses/imp-testcases/string/subs-domain-constants/report.json
  lisa/lisa-analyses/imp-testcases/string/subs-domain-constants/strings-subs-constants.imp
  lisa/lisa-analyses/imp-testcases/string/subs-domain-constants/untyped_strings.constants(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain-constants/untyped_strings.replace(strings__this,_untyped_s).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain-constants/untyped_strings.replace2(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain-constants/untyped_strings.replace3(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain-constants/untyped_strings.replace4(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/report.json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/strings-subs.imp
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.assume(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.branching(strings__this,_untyped_x).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.closure(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.closure2(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.closure3(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.constants(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.iftest1(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.iftest2(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.iftestand(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.iftestor(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.integers(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.interassign(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.loops(strings__this,_untyped_x).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.paper1(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.paper2(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.paper3(strings__this,_untyped_x).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.replace(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.replace2(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.scopetest(strings__this,_untyped_x).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.stringconcat(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.substring(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.substring2(strings__this).json
  lisa/lisa-analyses/imp-testcases/string/subs-domain/untyped_strings.type(strings__this,_untyped_x).json
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/string/StringConstantPropagation.java
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/string/SubstringDomain.java
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/string/SubstringDomainWithConstants.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/analysis/string/StringConstantPropagationTest.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/analysis/string/SubstringDomainTest.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/cron/StringAnalysesTest.java
  lisa/lisa-sdk/src/main/java/it/unive/lisa/analysis/lattices/ExpressionInverseSet.java
Labels: 🏗 resolution:wip, 🔍 scope:analysis

#308 Stability domain implementation
  lisa/lisa-analyses/imp-testcases/numeric/numeric.imp
  lisa/lisa-analyses/imp-testcases/stability/report.json
  lisa/lisa-analyses/imp-testcases/stability/stability.imp
  lisa/lisa-analyses/imp-testcases/stability/untyped_stability.example(stability__this,_untyped_x,_untyped_y).json
  lisa/lisa-analyses/imp-testcases/stability/untyped_stability.scale(stability__this,_untyped_x,_untyped_y,_untyped_width,_untyped_height,_untyped_scale1,_untyped_scale2).json
  lisa/lisa-analyses/imp-testcases/stability/untyped_stability.send(stability__this,_untyped_dest,_untyped_amount,_untyped_sbalance,_untyped_dbalance).json
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/stability/Stability.java
  lisa/lisa-analyses/src/main/java/it/unive/lisa/analysis/stability/Trend.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/AnalysisTestExecutor.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/analysis/stability/StabilityTest.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/cron/StabilityTest.java
  lisa/lisa-analyses/src/test/java/it/unive/lisa/program/cfg/SemanticsSanityTest.java
  lisa/lisa-sdk/src/main/java/it/unive/lisa/util/StringUtilities.java
Labels: 🎆 type:feature, ❗ priority:p3, 🔍 scope:analysis
